* {
    margin: 0;
    padding: 0;
}

header{
    height: 150px;
    margin: 0 auto;
    width: 80%;
}

.logo {
    /* height: 100%; */
    float: left;
    width: 400px;
    text-align: center;
    line-height: 100%;
    font-size: 60px;
    padding-top: 1%;
    color: white;
    background-color: skyblue;
}

.tool{
    /* height: 100%; */
    float: right;
    margin-top: 10px;
}

 nav {
    height: 60px;
    background-color: yellow;
    margin: 0 auto;
    width: 80%;
}

nav > ul {
    height: 60px;
}

nav > ul > li {
    float: left;
    height: 100%;
    line-height: 60px;
    width: 12.5%;
    font-size: 16px;
    text-align: center;
    list-style: none;
}

nav ul li a {
    display: block;
    height: 100%;
}

nav a:hover{
    background-color: burlywood;
}